.title {
  background-color: aqua;
  text-align: center;
}

.todoInput {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  border: black solid 1px;
  font-size: large;
  background: #b3b3b8;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.5rem;
  justify-content: center;
}

.todoComp {
  text-align: left;
}

input.custom-placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  /* Add any other styling you want here */
}
